*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Rampart One', cursive;
}
img{
    height: 100px;
    width: 100px;
    margin: 15px 50px;
    border: 5px solid aliceblue;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
    align-items: center;
}
nav,
ul,
li,
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
li{
    font-size: 27px;
    padding: 0 50px;
    color: red;
}
h1{
    color: aqua;
    font-size: 80px;
}

.windows{
    display: flex;
    padding: 50px;
}
.panel {
    display: flex;
    width: 700px;
    height: 600px;
    border-radius: 15px;
    
}
.ficha{
    background-image: url(/img/poker-chips-set.png);
    background-repeat: repeat-y;
    height: 100px;
    width: 100px;
    
}
.color-red{
    background-size: 300px 300px;
    background-position: 0px 0px;
}
.color-yellow{
    background-size: 300px 300px;
    background-position: 0px 100px;
}
#container {
    background-image: url('/img/tile.png');
    background-repeat: repeat-y;
    background-size: 700px 600px;
    position: relative;
    margin:-10px auto;
    box-shadow: 5px 5px 100px rgba(0,0,0,0.5);
}
.container-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    width: 100px;
}
.container-col:hover{
    border-radius: 15px;
    background-color: rgba(17, 0, 255,.5);
}

.tile {
    width: 100px;
    height: 100px;
    position: absolute;
}
.rotate{
    transform: rotateY(180deg);
}



