*{
    margin: 0;
    padding: 0;
    border: 0;
}

.windows{
    display: flex;
    padding: 50px;
}
.panel {
    display: flex;
    width: 700px;
    height: 600px;
    border-radius: 15px;
    
}
.ficha{
    background-image: url(/img/poker-chips-set.png);
    background-repeat: repeat-y;
    height: 100px;
    width: 100px;
    
}
.color-red{
    background-size: 300px 300px;
    background-position: 0px 0px;
}
.color-blue{
    background-size: 300px 300px;
    background-position: 0px 200px;
}
#container {
    background-image: url('/img/bacgroundLig4.jpeg');
    background-repeat: repeat-y;
    background-size: 800px 800px;
    position: relative;
    margin: 50px auto;
    box-shadow: 5px 5px 100px rgba(0,0,0,0.5);
}
.container-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    width: 100px;
}
.container-col:hover{
    border-radius: 15px;
    background-color: rgba(17, 0, 255, 0.431);
}

.tile {
    width: 100px;
    height: 100px;
    position: absolute;
}



