*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Source Code Pro', monospace
}
body{
    padding: 0 50px;
}

.logotipo{
    height: 100px;
    width: 100px;
    margin: 15px 50px;
    border: 5px solid aliceblue;
}
header{
    background-color: steelblue;
}
a{
    font-size: 50px;
    text-decoration: none;
    color: #000;
    padding: 0 50px;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    text-shadow: #000 15px 10px 7px;
    color: white;
    font-size: 80px;
}

.windows{
    display: flex;
    padding: 50px 50px 0;
}
.panel {
    display: flex;
    width: 700px;
    height: 600px;
    border-radius: 15px;
    
}
.ficha{
    background-image: url(/img/poker-chips-set.png);
    background-repeat: repeat-y;
    height: 100px;
    width: 100px;
    transition: transform 0.8s;
    
}
.ficha-radius{
    border-radius: 50%;
    transform: rotateY(180deg);
}
.color-red{
    background-size: 300px 300px;
    background-position: 0px 0px;
}
.color-yellow{
    background-size: 300px 300px;
    background-position: 0px 100px;
}
#container {
    background-image: url('/img/tile.png');
    background-repeat: repeat-y;
    background-size: 700px 600px;
    position: relative;
    margin:-10px 50px;
    box-shadow: 30px 30px 20px rgb(0 0 0 / 50%);
}
.container-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 600px;
    width: 100px;
}
.container-col:hover{
    border-radius: 15px;
    background-color: rgba(17, 0, 255,.5);
}

.tile {
    width: 100px;
    height: 100px;
    position: absolute;
}

.next{
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 260px;
    box-shadow: 30px 30px 20px rgb(0 0 0 / 50%);
}
.btn{
    margin-bottom: 50px;  
    margin: 0 50px;
}
#dec{
    margin: 80px;
}

.text {
    box-shadow: 5px 5px 100px rgba(0,0,0,0.5);
    text-shadow: #000 5px 7px 4px;
    text-align: center;
    font-size: 50px;
    height: 180px;
    color:white;
    
}
.audioOnOff{
    top: 0px;
}
.btn-audio{
    margin: 0 100px;
}





